/* Global styles */

html {
    background-color: rgb(202, 212, 224);
    font-size: 16px;
    font-family: "Titillium Web", sans-serif;
}

/* html element styles */

nav {
    font-size: 1rem;
    position: fixed;
    width: 100%;
    background-color: rgb(203, 207, 228);
    border-bottom: 1px solid blue;
    opacity: 0.5;
    height: 35px;
}

h1 {
    font-size: 4rem;
    font-weight: 700
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

img {
    width: 100%;
}

/* display styles */

.navbar {
    display: flex;
    margin: auto;
    list-style-type: none;
    justify-content: space-around;
}

.title {
    display: flex;
    
}

.mission {
    display: flex;
    flex-direction: column;
    background-image: url("media/winner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 500px;
    align-items: center;
}

.mission p {
    margin: 0;
}

.product {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 300px;
    min-width: 300px;
    max-width: 400px;

}

.product-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1rem;
}

.product-image-container {
    height: 175px;
    overflow: hidden;
}

.product-image {
    max-width: 300px;
    width: auto;
    position: relative;
    bottom: 30px;
}

.staff {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 250px;
    min-width: 250px;
    max-width: 250px;
}

.staff-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1rem;
}

.staff-image-container {
    overflow: hidden;
    height: 200px;
}

.staff-image {
    max-width: 200px;
    width: auto;
    position: relative;
    
}

.footnav {
    display: flex;
    list-style-type: none;
    margin: auto;
    padding: 0;
    justify-content: space-between;
}
